//================================== General Settings ======================================//

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0};

.foundation-data-attribute-namespace {
    font-family: false;
}

@mixin vendor-prefix($name, $argument...) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
// @include vendor-prefix(property, value)

//============================= Responsive Grid =================================//

@mixin respond-to($name) {
  $value: map-get($breakpoints, $name);
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from '#{$name}'. "
    + "Please make sure it is defined in '$breakpoints' map.";
  }
}


//================================== Typography ======================================//

@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
	  font-family: '#{$font-family}';
	  src: url('#{$font-filename}.eot'); /* IE9 Compat Modes */
	  src: url('#{$font-filename}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('#{$font-filename}.woff') format('woff'), /* Modern Browsers */
	       url('#{$font-filename}.ttf')  format('truetype'), /* Safari, Android, iOS */
	       url('#{$font-filename}.svg') format('svg'); /* Legacy iOS */
	font-style:   $font-style;
	font-weight:  $font-weight;
	font-stretch: $font-stretch;
	}
}

@mixin placeholder($color,$font-family,$text-transform,$size,$padding){
  @include elegantify;
  ::-webkit-input-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $size;
    text-transform: $text-transform;
    padding-top:$padding;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $color;
    font-family: $font-family;
    font-size: $size;
    text-transform: $text-transform;
    padding-top:$padding;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
    font-family: $font-family;
    font-size: $size;
    text-transform: $text-transform;
    padding-top:$padding;
  }

  :-ms-input-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $size;
    text-transform: $text-transform;
    padding-top:$padding;
  }

}

@mixin elegantify {
  font-weight: 100 !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

// (default size, default line height, [breakpoint sizes])
// @include responsive-type-breakpoints(1, 1, 1,1,1,1.2,3,3);

// @include responsive-type-breakpoint(3, 3.6, 'min-device-width: 800px');
// font size, line height, rate of scale
// @include scale-type-linear(3, 3.6, .2);

@mixin type-size($sizeValue: 1, $lineHeight: $sizeValue) {
  font-size: ($sizeValue) + em;
  line-height: ($lineHeight * 1.4) + em;
}

@mixin scale-type-linear($fontSize, $lineHeight, $rate) {
  $ratio: $lineHeight/$fontSize;
  @include type-size($fontSize, $lineHeight);
  @each $name, $breakpoint in $breakpoints {
    $newFontSize: $fontSize - $rate;
    @media only screen and #{inspect(map-get($breakpoints, $name))} {
      @include type-size($newFontSize, $newFontSize*$ratio)
    }
    // Increment $rate
    $rate: $rate + $rate;
  }
}

@mixin responsive-type-breakpoints($fontSize, $lineHeight, $sizes...) {
  $ratio: $lineHeight/$fontSize;
  $i: 1;
  @include type-size($fontSize, $lineHeight);
  @each $name, $breakpoint in $breakpoints {
    // Only return values when the breakpoint ins't 0
    @if nth($sizes, $i) != 0 {
      $newFontSize: nth($sizes, $i);
      @media only screen and #{inspect(map-get($breakpoints, $name))} {
        @include type-size($newFontSize, $newFontSize*$ratio)
      }
    }
    $i: $i + 1;
  }
}

@mixin responsive-type-breakpoint($fontSize, $lineHeight, $breakpoint) {
  @if (#{inspect(map-get($breakpoints, $breakpoint))}) != 'null' {
    @media only screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @include type-size($fontSize, $lineHeight);
    }
  } @else {
    @media only screen and ($breakpoint) {
      @include type-size($fontSize, $lineHeight);
    }
  }
}

@mixin typographize($typ-h1:2.2em,$typ-h2:2.0em,$typ-h3:1.8em,$typ-h4:1.6em,$typ-h5:1.4em,$typ-p:1.2em){
	h1{font-size: $typ-h1};
	h2{font-size: $typ-h2};
	h3{font-size: $typ-h3};
	h4{font-size: $typ-h4};
	h5{font-size: $typ-h5};
	p{font-size: $typ-p};
}

@mixin letterpress($base:#222,$shadow:#555){
	color: $base;
	text-shadow: 0px 2px 3px $shadow;
}

//================================== Colors ======================================//

@mixin colorize($color:inherit,$bgcolor:inherit){
	color: $color;
	background-color: $bgcolor;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

//================================== Extras ======================================//

@mixin roundify($radius:5px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
    @if $inset {
      @include vendor-prefix(box-shadow, inset $top $left $blur $size $color);
    } @else {
      @include vendor-prefix(box-shadow, $top $left $blur $size $color);
    }
}
/* @include box-shadow(1px,1px,1px,0, #fff, true); */
